<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Login Page</title>
</head>

<body class="bg-gray-100 h-screen flex items-center justify-center">

    <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-sm">
        <h1 class="text-3xl font-bold text-center text-blue-500 mb-6">
            <%= title %>
        </h1>

        <form method="post" action="/create" id="create-form" class="flex flex-col space-y-4">
            <div>
                <label for="username" class="block text-lg font-semibold text-gray-700">Username</label>
                <input id="username" class="w-full border-2 border-green-500 px-4 py-2 rounded-md focus:outline-none focus:ring-2 focus:ring-green-300" type="text" value="user" name="name" required>
            </div>

            <div>
                <label for="password" class="block text-lg font-semibold text-gray-700">Password</label>
                <input id="password" class="w-full border-2 border-green-500 px-4 py-2 rounded-md focus:outline-none focus:ring-2 focus:ring-green-300" type="password" name="password" value="1234" required>
            </div>

            <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 transition duration-300">
                Click Me!
            </button>
        </form>
    </div>

</body>

</html>
